.container {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}
.header {
    display: flex;
    background-color: #1f2937;
    max-width: 100%;
   min-height:  60px;
}
.logo {
    width: 50%;
    min-height: 60px;
    color: #E5E7EB;
    font-size: 24px;
}
.links {
    max-width: 50%;
}
ul {
    display: flex;
    list-style: none;
    margin: 20px;
    padding: 10px;
    gap: 16px;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
  }
  img {
      max-width: 100%;
      max-height: 100%;
  }
.pic{
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
}

.head {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}
.intro {
    width: 50%;
    padding: 30px;
    color: #E5E7EB;
}
button {
    background-color: #3882f6;
    color: #E5E7EB;
}
.pic {
    padding: 30px;
    width: 50%;
}
.aside{
    max-height: 400px;
}
h3 {
   font-size: 36px;
   font-weight: bold;
   color:#1f2937; 
}
.items{
    max-width: 150px;
    min-height: 150px;
}
.card {
    display: flex;
    justify-content: space-around;
}

.quote {
    padding: 100px;
    min-height: 100px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
span {
    float: right;
    font-size: 32px;
    font-weight: bolder;
}
.ads{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 80px 200px;
    color: #E5E7EB;
}
.blue-ads{
    display: flex;
    max-width: 100%;
    background-color: #3882f6;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 80px;
}
.footer {
    min-height: 60px;
    color: #E5E7EB;
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

  